/* Resources:

https://techtalentsouth.slides.com/techtalentsouth/angular-project-part-i-lab?token=IXyGgR-D#/2
https://techtalentsouth.slides.com/techtalentsouth/angular-part-i?token=N2aYD_7V

https://angular.io/tutorial/toh-pt1 */